html, body, #__nuxt, #__layout, .full-height {
  height: 100%;
}

@media screen and (min-width: 960px) {
  

}

@media screen and (max-width: 960px) {

  main {
    
    aside {
      display: none;
      grid-column: 1 / 11;
    }
    
  }

  .button-item {
    
  }
}

